body{
    font-family: sans-serif;
    color: gray;
}
header{
  text-align: center;
}
span{
    background-color: rgb(22, 55, 11);
    color: rgb(176, 55, 55);
    padding: 7px;
    border-radius: 5px solid black;
}
*{
  padding: 0;
  margin: 0;
}
